<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}登录到学英语 -学英语{% endblock title %}</title>
</head>
<body>
<main>
    {% block main %}
    <h1>登录学英语</h1>
    <form action="/login/" method="post">
        <div>
            {% csrf_token %}
            <label>邮箱</label>
            <input type="text" autocomplete="off" maxlength="32" autofocus="autofocus" name="username" required>
            <label>密码</label>
            <input type="password" autocomplete="off" maxlength="32" name="password" required>
            <span>{{ error }}</span>
            <span>记住用户名:<input type="checkbox" name="isSaved"></span>
        </div>
        <div>
            <input type="submit" value="登录">
            <a href="{% url 'register'%}">注册</a>
            <a>忘记密码</a>
        </div>
    </form>
    {% endblock main %}
</main>
</body>
</html>