<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>
</head>
<body>
<a class="bigaud" onmouseover="this.className='bigaud_f';javascript:BilingualDict.Click(this,'https://dictionary.blob.core.chinacloudapi.cn/media/audio/tom/91/70/91700ADAF0E25F6F429AC8D22D2606D2.mp3','akicon.png',false,'dictionaryvoiceid')" onmouseout="this.className='bigaud'" title="点击朗读" onclick="javascript:BilingualDict.Click(this,'https://dictionary.blob.core.chinacloudapi.cn/media/audio/tom/91/70/91700ADAF0E25F6F429AC8D22D2606D2.mp3','akicon.png',false,'dictionaryvoiceid')" href="javascript:void(0);" h="ID=Dictionary,5248.1">test</a>
</body>
</html>